<body>
    <h1>My Astro Blog Site</h1>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <div class="m_posts">
        <article class="m_post">
            <h2 class="m_post_title">my first blog</h2>
            <p class="m_post_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab et nostrum, nisi natus ea dolor dolorum nesciunt harum voluptas explicabo autem. Vero, consequuntur voluptas molestiae illum enim minus doloribus non maiores adipisci fuga reiciendis sapiente, consequatur impedit? Nisi voluptates facere blanditiis architecto eius laudantium non a eaque magni placeat. Rem recusandae placeat ex inventore! Magnam, laudantium aliquid? Nesciunt ad expedita molestiae atque modi dolores, tempora possimus quia, suscipit alias, odit aliquid inventore amet non aperiam aliquam magnam veniam? Recusandae vero suscipit placeat eveniet sapiente expedita explicabo dolorum architecto, iste rem cupiditate itaque velit, quia illo debitis, corporis nostrum? Rerum unde quam rem aspernatur ad expedita impedit commodi nobis minima ea numquam facere possimus, blanditiis consequatur? Rerum, cupiditate quisquam doloremque eos quo debitis nostrum in sequi, veritatis aliquid fugiat inventore alias eveniet aliquam ut, esse incidunt distinctio illo odit omnis. Exercitationem eligendi libero minus? Aperiam repudiandae distinctio velit ullam quaerat, nesciunt error quibusdam expedita ducimus libero impedit blanditiis. Similique magni doloribus alias molestias quos saepe sequi facilis unde cupiditate minima! Tempora nihil necessitatibus minima dolore. Eos eveniet soluta recusandae animi temporibus eum magnam hic corrupti. Dignissimos et quaerat soluta omnis commodi, iusto cumque possimus assumenda, repellat consectetur quibusdam eos praesentium.
            </p>
        </article>

    </div>
</body>